@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/styles.css */
.main {
  font-family: Arial, sans-serif;
  padding: 0 20px;
  text-align: center;
}

.header {
  padding: 50px 0;
  background-color: #0070f3;
  color: white;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: #0070f3;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
}

.section {
  padding: 40px 0;
  text-align: center;
}

.featuresContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.featureCard {
  flex: 1 1 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.footer {
  padding: 20px 0;
  background-color: #f1f1f1;
  text-align: center;
}
